<html>
<head>
<title>Set Secrets</title>
</head>
<body>
  <form action="/setSecrets" method="POST">
<% for (var i = 0; i < secrets.length; ++i) { -%>
    <input type="text" placeholder="<%- secrets[i] %>" name="<%- secrets[i] %>">
<% } -%>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
